<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <permission
        android:name="gm.ultifi.permission.ACCESS_CLIMATE_SERVICE"
        android:protectionLevel="normal" />

    <uses-permission android:name="gm.vehicle.permission.READ_VEHICLE_DATA" />
    <uses-permission android:name="gm.vehicle.permission.WRITE_VEHICLE_DATA" />
    <uses-permission android:name="android.car.permission.CONTROL_CAR_CLIMATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="ultifi.permission.ACCESS_UBUS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.car.permission.CAR_VENDOR_EXTENSION" />
    <uses-permission
        android:name="android.permission.INTERACT_ACROSS_USERS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_foreground"
        android:supportsRtl="true"
        android:debuggable="true"
        android:theme="@style/Theme.Ultifi_core"
        tools:ignore="HardcodedDebugMode">
        <service
            android:name=".ChassisService"
            android:enabled="true"
            android:exported="true"></service>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".AccessService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".CabinClimateService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".BootCompleteReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.patac.intent.action.TEST" />
            </intent-filter>
        </receiver>
    </application>

</manifest>